@import url("https://fonts.googleapis.com/css2?family=Inter");

// Colors
$primary-color: #5c00dc;
$primary-hover-color: #4d00b9;
$secondary-color: #eee;
$link-color: #777;
$paragraph-color: #222;

//Border Props
$corner-roundness: 8px;
$border-color: #ccc;
$border: 1px solid $border-color;

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  height: 100vh;
  min-height: 100%;
  justify-items: center;
}

//
// Sidebar / Topbar
//

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 80px;
  max-width: 50px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 16px;

  .profile {
    background: $paragraph-color;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    text-align: center;
    color: white;
    text-decoration: none;

    &:last-child {
      margin-top: auto;
    }
  }

  img {
    margin-bottom: 24px;
    width: 60%;
    max-width: 48px;
  }
}

.offset-logo {
  position: relative;
  left: 8px;
}

.rounded-img {
  border-radius: $corner-roundness;
}

//
// Menu Styles
//

.menu {
  padding-inline: 10px;
  min-width: 220px;

  background-color: white;
  border-right: $border;
  border-left: $border;

  .top {
    padding-inline: 24px;

    input {
      width: 100%;
      text-indent: 24px;
      padding: 5px;
      border-radius: $corner-roundness;
      border: $border;
    }

    form {
      position: relative;

      img {
        position: absolute;
        left: 4px;
        height: 83%;
        top: 0px;
        bottom: 0px;
        margin: auto;
      }
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
  }

  h2 {
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 12px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 10px;
  }
}

.menu-button-container {
  all: unset;
  display: none;
  background: white;
  position: relative;
  margin-right: 16px;
  height: 100%;
  aspect-ratio: 1/1;

  &:focus {
    outline: auto;
  }
}

.menu-button {
  background-color: #333;
  height: 2px;
  width: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    background-color: #333;
    height: 2px;
    width: 70%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    background-color: #333;
    height: 2px;
    width: 85%;
  }
}

.selected {
  background-color: #5c00dc14;

  a {
    color: $primary-color;
  }

  img {
    background-color: $primary-color !important;
  }
}

.link-container {
  border-radius: $corner-roundness;
  cursor: pointer;
  font-weight: 600;
  color: #777;
  font-size: 14px;

  .link:hover,
  a:hover {
    background-color: #5c00dc23;
  }

  .link {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    max-width: 100%;

    img {
      background-color: #777;
      min-height: 20px;
      min-width: 20px;

      padding: 5px;

      border-radius: 50%;
      margin-right: 5%;
    }

    p {
      flex: 2;
      font-size: 14px;
      position: relative;
      top: 0px;
      bottom: 0px;
      margin: auto;
    }
  }

  .sub-menu-list {
    display: flex;
    flex-direction: column;

    a {
      padding: 10px 5px;
      padding-left: 25%;
      text-decoration: none;
      color: $link-color;
    }
  }
}

//
// Content
//

.attendees {
  padding-inline: 48px;
  padding-top: 48px;
  overflow-y: scroll;
}

//Attendees header

.header {
  display: grid;
  grid-template-columns: auto 1fr max-content;
  gap: 0px 16px;

  h1 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  p {
    margin: 0px;
    font-size: 16px;
  }

  button {
    cursor: pointer;
    height: 33px;
    width: 101px;
    padding: 8px 16px;
    border: none;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: 4px;

    &:hover {
      background-color: $primary-hover-color;
    }
  }
}

.summit-img {
  top: 0px;
  position: relative;
  max-height: 90px;
}

.attendee-header-information {
  padding-top: 40px;
  padding-bottom: 40px;
  grid-column: 1/-1;

  border-bottom: $border;

  h2 {
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

.attendee-title {
  display: flex;

  img {
    max-width: 24px;
  }

  h3 {
    margin-left: 24px;
  }
}

.step-title {
  margin-bottom: 8px;

  span {
    font-weight: 700;
  }
}

.instructions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px 24px;

  .step-title {
    grid-column: 1/-1;
    margin: 0px;
    margin-top: 32px;
  }
}

// Attendee Cards

.card {
  border: $border;
  border-radius: $corner-roundness;
  padding: 28px 32px;
  margin-bottom: 15px;
  min-height: 100px;

  .card-header {
    display: flex;
  }

  h4 {
    margin: 0px;
  }

  img {
    max-width: 24px;
    margin-right: 8px;
  }
}

.create-card {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 5px 0px;
  }

  img {
    margin-inline: auto;
  }
}

.fullwidth-card {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  gap: 0px 32px;
  border: $border;
  border-radius: $corner-roundness;
  padding-inline: 24px;

  .borderless-card {
    list-style-type: none;
    margin: 16px 0px;
    padding: 8px;
  }

  h4,
  p {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .fullwidth-card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 855px) {
  .attendees {
    padding-inline: 15px;
    box-sizing: border-box;
  }

  .header {
    grid-template-columns: 1fr;

    button {
      margin-top: 16px;
    }
  }

  .menu-button-container {
    display: block;
  }

  .offset-logo {
    position: relative;
    bottom: 8px;
  }

  .App {
    grid-template-columns: 1fr;
    height: auto;
  }
  .menu {
    display: none;
  }
  .sidebar {
    min-width: 100%;
    padding-inline: 16px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: start;
    border-bottom: $border;
    position: sticky;
    top: 0px;
    background: white;
    z-index: 5;

    a:last-child {
      margin-top: 0px;
      margin-left: auto;
      margin-right: 16px;
    }

    img {
      margin-bottom: 0px;
      margin-right: 24px;
      max-width: 30px;
    }
  }

  .attendees {
    overflow-y: unset;
  }

  .fullwidth-card {
    grid-template-columns: auto;
  }

  .summit-img {
    margin-bottom: 16px;
  }

  .instructions {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .step-title {
      grid-column: 1/-1;
      margin: 0px;
      margin-top: 32px;
    }
  }
}
