@import url("https://fonts.googleapis.com/css2?family=Inter");

// Colors
$primary-color: #5c00dc;
$primary-hover-color: #4d00b9;
$secondary-color: #eee;
$link-color: #777;
$paragraph-color: #222;

//Border Props
$corner-roundness: 8px;
$border-color: #ccc;
$border: 1px solid $border-color;

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  height: 100vh;
  min-height: 100%;
  justify-items: center;
}

@media screen and (max-width: 855px) {
  .App {
    grid-template-columns: 1fr;
    height: auto;
  }
}